.cbt__header {
    width: calc(100% - 280px);
    background-color: #fff;
    border: 8px ridge #f4bbc9;
    margin-bottom: 20px;
    padding: 20px;
    background-color: #f5e0e5;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cbt__header>div>div {
    background-color: #2c5a8b;
    display: inline-block;
    margin-left: 5px;
    color: #fff;
    padding: 3px 20px;
    border-radius: 20px;
}

.cbt__aside {
    position: fixed;
    font-size: 15px;
    right: 20px;
    height: 100%;
    width: 260px;
    background-color: #fff;
    /* overflow-y: auto; */
}

.cbt__aside {
    min-width: 150px;
    /* 최소 너비 설정 */
    max-width: 300px;
    /* 최대 너비 설정 */
}

.cbt__title {
    text-decoration: underline;
    text-underline-offset: 4px;
    margin-bottom: 5px;
}

.cbt__info {
    border: 3px ridge #2c5a8b;
}

.cbt__time {
    background-color: #2c5a8b;
    /* display: inline-block; */
    margin-left: 3px;
    color: #fff;
    padding: 10px 20px 10px 40px;
    margin-bottom: 30px;
    border-radius: 28px;
    top: 101px;
    right: 167px;
    width: 131px;
    font-size: 15px;
}

button {
    border-style: none;
}

.cbt__time a {
    color: #fff;
}

.cbt__time::before {
    content: '';
    position: absolute;
    left: 78px;
    top: 85px;
    bottom: 1px;
    width: 20px;
    height: 20px;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 24 24' stroke-width='1.5' stroke='%23fff' class='w-6 h-6'%3E%3Cpath stroke-linecap='round' stroke-linejoin='round' d='M12 6v6h4.5m4.5 0a9 9 0 11-18 0 9 9 0 0118 0z' /%3E%3C/svg%3E%0A");
}

.cbt__submit {
    background-color: #2c5a8b;
    /* display: inline-block; */
    margin-left: 3px;
    margin-bottom: 10px;
    color: #fff;
    padding: 10px 20px 10px 40px;
    border-radius: 28px;
    top: 101px;
    right: 27px;
    width: 130px;
    font-size: 15px;
}

.cbt__submit::before {
    content: '';
    position: absolute;
    left: 89px;
    top: 34px;
    bottom: 1px;
    width: 20px;
    height: 20px;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 24 24' stroke-width='1.5' stroke='%23fff' class='w-6 h-6'%3E%3Cpath stroke-linecap='round' stroke-linejoin='round' d='M16.862 4.487l1.687-1.688a1.875 1.875 0 112.652 2.652L10.582 16.07a4.5 4.5 0 01-1.897 1.13L6 18l.8-2.685a4.5 4.5 0 011.13-1.897l8.932-8.931zm0 0L19.5 7.125M18 14v4.75A2.25 2.25 0 0115.75 21H5.25A2.25 2.25 0 013 18.75V8.25A2.25 2.25 0 015.25 6H10' /%3E%3C/svg%3E%0A");
}

.cbt__omr {

    border: 8px ridge #2c5a8b;
    overflow-y: auto;
}

.cbt__questionend {
    width: 80%;
    /* 너비를 80%로 설정 */
    margin: 0 auto;
    /* 상하 마진은 0, 좌우 마진은 자동으로 설정하여 가운데 정렬 */
    padding: 10px;
    /* 내부 여백 추가 */
}


.cbt__quiz {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.cbt__quiz .cbt {
    width: 49%;
    border: 8px ridge #2c5a8b;
    margin-bottom: 10px;
    padding: 20px;
}

.cbt__quiz .cbt.good {
    position: relative;
}

.cbt__quiz .cbt.good::after {
    content: '';
    background-image: url(../img/O.png);
    background-size: contain;
    background-repeat: no-repeat;
    width: 200px;
    height: 200px;
    position: absolute;
    left: 0;
    top: 0;
}

.cbt__quiz .cbt.bad {
    position: relative;
}



.cbt__info {
    background-color: #fff;
    border-bottom: 4px ridge #2c5a8b;
    padding: 20px;
    text-align: center;
    display: block;
}

.quiz__info>div {
    border-bottom: 4px ridge #2c5a8b;
    padding: 20px;
}

.cbt__info span {
    display: inline-block;
}

.cbt__omr {
    padding: 10px;
    overflow: hidden;

    border: 3px ridge #2c5a8b;
    overflow: auto;
    height: 65%;
    background-color: #fff;

}

.cbt__omr .omr {
    margin: 5px 0;
    display: grid;
    grid-template-columns: 50px 38px 38px 38px 38px;
    grid-template-rows: 20px;
    align-items: center;
}

.cbt__omr .omr input {
    opacity: 0;
    position: absolute;
    width: 0;
    height: 0;
}

.cbt__omr .omr strong {
    display: inline-block;
    text-align: center;
    margin-bottom: 2px;
    background-color: #2c5a8b;
    border-radius: 20px;
    color: #fff;
    font-family: 'Helvetica Neue';
    margin-right: 10px;
    font-weight: bold;
}

.cbt__omr .omr label {
    box-shadow: 0 0 0 1px #2c5a8b;
    cursor: pointer;
    line-height: 0.4;
    text-align: center;
    width: 28px;
    height: 8px;
    font-family: 'Helvetica Neue';
    position: relative;
}

.cbt__omr .omr label::after {
    background-color: #555;
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    z-index: 1;
    transition: width 0.1s linear;
}

.cbt__omr .omr input[type=radio]:checked+label::after {
    width: 100%;
}

.cbt__omr .omr .label-inner {
    background-color: #fff;
    padding: 0.25em 0.13em;
    transform: translateY(-0.25em);
    width: 20px;
    color: #2c5a8b;

}

.incorrect {
    background-color: rgb(255, 0, 0);
    color: white;
}

.container {
    display: grid;
    grid-template-columns: 4fr 1fr;
    /* 비율을 조정하여 문제 영역을 더 넓게 설정 */
    gap: 50px;
    /* 두 컬럼 사이의 간격을 조금 늘림 */
    height: 100vh;
}

.quiz,
.cbt {
    overflow-y: auto;
    padding: 20px;
}